/*Позволяет загрузить шрифты на комп юзера*/
@font-face {
font-family: 'GothamPro';
src: url('../fonts/GothamPro.eot');
src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
url('../fonts/GothamPro.woff') format('woff'),
url('../fonts/GothamPro.ttf') format('truetype'),
url('../fonts/GothamPro.svg') format('svg');
}

@font-face {
font-family: 'GothamPro-Medium';
src: url('../fonts/GothamPro-Medium.eot');
src: url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
url('../fonts/GothamPro-Medium.woff') format('woff'),
url('../fonts/GothamPro-Medium.ttf') format('truetype'),
url('../fonts/GothamPro-Medium.svg') format('svg');
}

@font-face {
font-family: 'GothamPro-Bold';
src: url('../fonts/GothamPro-Bold.eot');
src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/GothamPro-Bold.woff') format('woff'),
url('../fonts/GothamPro-Bold.ttf') format('truetype'),
url('../fonts/GothamPro-Bold.svg') format('svg');
}

@font-face {
font-family: 'GothamPro-Black';
src: url('../fonts/GothamPro-Black.eot');
src: url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
url('../fonts/GothamPro-Black.woff') format('woff'),
url('../fonts/GothamPro-Black.ttf') format('truetype'),
url('../fonts/GothamPro-Black.svg') format('svg');
}

@font-face {
  font-family: 'GothamPro-Light';
  src: url('../fonts/GothamPro-Light.eot');
  src: url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Light.woff') format('woff'),
  url('../fonts/GothamPro-Light.ttf') format('truetype'),
  url('../fonts/GothamPro-Light.svg') format('svg');
}

/*Общие*/
* {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
html {
	font-size: 1vw;
}
.main-body {
	font-family: "GothamPro", "Tahoma", sans-serif;
	font-weight: 400;
	width: 100%;
	overflow-x: hidden;
	background-color: #fff;
	
}

/*анимация*/
@keyframes animation-right {
	0% {
		transform: translateX(35%);
		opacity: 0;
	}
	100% {
		transform: translateX(0%);
		opacity: 1;
	}
}
.slide-motion-effect-right {
	animation: animation-right 800ms ease-out forwards;
}

@keyframes animation-left {
	0% {
		transform: translateX(-35%);
		opacity: 0;
	}
	100% {
		transform: translateX(0%);
		opacity: 1;
	}
}

.slide-motion-effect-left {
	animation: animation-left 800ms ease-out forwards;
}


/*Контейнеры сайта*/
.site-container {
	max-width: 1920px;
	min-width: 320px;
	position: relative;
	width: 100%;
	box-shadow: 0 0 40px 0 rgba(0,0,0, 0.5);
	display: flex;
	margin: 0 auto;
}

.main-content {
	width: 100%;
	background-color: #ffda2d;
	margin-left: 150px;
}

.main-nav {
	position: fixed;
	width: 150px;
	background-color: #f6f6f6;
	height: 100%;
	flex-shrink: 0;
	left: 0;
	top: 0;
	z-index: 99;
}

/* Cайдбар */
.main-logo {
	display: block;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 40px;
	padding-top: 27px;
}

.main-logo__hashtag {
	font-family: GothamPro-Medium;
	color: #f73934;
	font-size: 16px;
	font-weight: 500;
	line-height: 40px;
}

ul {
	list-style: none;
}

.main-nav__item {
	display: block;
	padding: 75px 0 20px;
	text-align: center;
	position: relative;
}

.top-section{
	background-image: url(../img/top-section.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: right bottom;
	padding-top: 4rem;
	padding-left: 5rem;
	height: 41rem;
}

.top-section-header {
	display: flex;
	height: 16rem;
	width: 45rem;
	justify-content: flex-start;
}

.top-section-caption {
	/*font-size: 70px;*/
	color: #f73934;
	width: 20rem;
	text-transform: uppercase;
	/*position: relative;*/
}

.top-section-caption__first {
	font-family: GothamPro-Medium;
	font-weight: 500;
	font-size: 6rem;
	letter-spacing:0.5rem;
	line-height: 6rem;
}
.top-section-caption__middle {
	font-size: 3.7rem;
	font-weight: 300;
	line-height: 3.8rem;
}
.top-section-caption__last {
	font-size: 3.7rem;
	font-weight: 300;
	text-transform: none;
	line-height: 4rem;
}

.top-section-caption__middle,
.top-section-caption__last
{
	font-family: GothamPro-Light;
}

.top-section-caption__last span {
	font-family: GothamPro-Black;
	font-size: 5.3rem;
	font-weight: 900;
	letter-spacing:0.4rem;
}

/*раздел с фото-профилем*/
.second-section {
	display: flex;
}

.action-description{
	width: 50%;
	flex-shrink: 0;
	background-image: url(../img/girl.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 2.5rem;
	padding-left: 2.5rem;
}
.action-description__title {
	font-size: 3rem;
	line-height: 4rem;
	padding-left: 4rem;
	font-weight: 700;
	font-family: GothamPro-Bold;
    color: #000;
}
.action-description__social-block{
	width:40%;
	padding-left:8px; 
	padding-top:10px;
}
.action-description__hashtag{
	background-color: #fff;
	display: inline-block;
	font-size: 3rem;
	margin-left: 3.8rem;
	font-weight: 400;
	padding: 0px 0.4rem;
	color: #f73934;
	line-height: 4rem;
}
.action-description__button{
	display: block;
	border: 2px solid white;
	color:#fff;
	background-color: rgba(143,12,0,.1);
	text-transform: uppercase;
	margin-left: 3.8rem;
	margin-top: 2.5rem;
    margin-bottom: 4rem;
    font-size: 1.8rem;
    text-align: center;
	padding: 15px;
	width: 16rem;
	transition: all 500ms;
}
.action-description__button:hover {
	background-color: rgba(50,12,0,.2);
}
.photo-profile{
	width: 50%;
	flex-shrink: 0;
	display: flex;
	flex-wrap: wrap;
	font-size: 0;
	padding: 10px;
	background-color: #fff;
	letter-spacing: 5px;
}
.photo-profile__item {
	width: 33.3%;
	padding: 3px;
}

/*Раздел с чипсами и воздушным шариком*/
.third-section {
	display: flex;
}
.prize-block{
	width: 50%;
	flex-shrink: 0;
	padding-top: 5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	background-image: radial-gradient(circle, #ff3800 2%, #e90500 100%);
	position: relative;
	z-index: 1;
}

.prize-block::before {
	position: absolute;
	content: "";
	top: 50%;
	margin-top: -8rem;
	right: -5rem;
	border: 6rem solid transparent;
	border-left: 6rem solid #f01300;
	border-right: none;
}

.prize-block-wrapper {
	display: flex;
	margin-bottom: 2rem;
}
.prize-block__photo{
	width: 42.5%;
	padding-left: 2%;
	padding-top:5%;
}
.prize-box__title{
	color:white;
	font-size: 4rem;
	font-family: GothamPro-Bold;
	padding-top: 6rem;
	padding-left: 12px;
	line-height: 4rem;
}
.prize-block__description{
	color: white;
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 2rem;
	padding: 0px 3rem;
}
.prize-block__button{
	background-color: rgba(143,12,0,.1);
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.8rem;
	line-height: 5rem;
	letter-spacing: 5px;
	font-weight: 500;
    border: 2px solid white;
    width: 16rem;
    margin-left: 3rem;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    text-align: center;
    transition: all 500ms; 
}
.prize-block__button:hover{
	background-color: rgba(50,12,0,.2);
}

@keyframes enlargement-size {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.2);
	}
}
.lays-balloon-block {
	width: 50%;
	flex-shrink: 0;
	height: 44rem;
	font-weight: 400;
	overflow: hidden;
}
.lays-balloon-block__photo {
	width: 100%;
	height: 100%;
	background-image: url(../img/lays-balloon.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	animation: enlargement-size 10s 2s linear infinite alternate;
}

/*Раздел, где море и карта*/
.four-section {
	display: flex;
}
.lays-people-sea {
	width: 50%;
	flex-shrink: 0;
	height: 48rem;
	overflow: hidden;
}
.lays-people-sea__photo{
	width: 100%;
	height: 100%;
	background-image: url(../img/lays-sea.jpg);
	-webkit-background-size: cover;
	background-position: bottom center;
	background-size: cover;
	animation: enlargement-size 10s 2s linear infinite alternate;
}
.lays-map {
	width: 50%;
	flex-shrink: 0;
	background-image: url(../img/lays-map-texture.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	padding:3rem;
	position: relative;
}

/*.lays-map::before {
	position: absolute;
	content: "";
	background-image: url(../img/lays-map-triangle.png);
	border: 9rem solid transparent; 
	left: -2.7rem;
	top: 185px;
	transform: rotate(135deg);
}*/
.lays-map::before {
	content: "";
	height: 10rem;
	width: 5rem;
	background-image: url(../img/lays-map-triangle.png);
	background-size: cover;
	position: absolute;
	left: -5rem;
	top: 50%;
	margin-top: -5rem;
}

.lays-map__title {
	color: #301f20;
	font-size: 5.2rem;
	font-family: GothamPro-Bold;
	line-height: 7rem;
	text-align: center;
	transition: all 500ms;  
}
.lays-map__button {
	display: flex;
	color: #fff;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-size: 2.2rem;
	line-height: 6rem;
	letter-spacing: 5px;
	font-weight: 500;
	cursor: pointer;
    border: 2px solid white;
    width: 20rem;
    margin: auto;
    margin-top: 2.5rem;
    text-align: center;
    transition: all 500ms;  
}
.lays-map__button:hover {
	background-color: rgba(143,12,0,.1);
}
.lays-people-sea__mob {
	display: none;
}

/*Подвал*/
.page-footer{
	display: flex;
	height: 80px;
	align-items: center;
	background-color: #3c3c3c; 
}

.page-footer__logo {
	width: 60px;
	margin:15px 10px 10px 30px;
	flex-shrink: 0;
}
.page-footer__copyright{
	color: #b4b4b4;
	font-size: 12px;
  	line-height: 20px;
}

.page-footer-links{
	display: flex;
	margin-left: auto;
	height: 100%;
}
.page-footer-links__item{
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: .9;
}
.fb{
	background-color: #3569a2;
}

.vk{
	background-color: #3379ac;
}

.int{
	background-color: #eec013;
}

.yt{
	background-color: #c7080f;
}

.page-footer-links__item:hover {
	opacity: 1.0;
	cursor: pointer;
}